.cache
__pycache__
*.egg-info
.ipynb_checkpoints
*.pyc
*.pyo
*.pck
.tox
dist
build
restats
# private folder
/private/*
!/private/.gitkeep
!/private/__init__.py


# Coverage reports
.coverage
.coverage.*

# editor 
.idea
.project
.pydevproject

# pyenv
.python-version

# venv
env/
venv/
.venv/

# libreoffice
.~lock.*
